:root {
    --Poppins-font: 'Poppins', sans-serif;
    --cursive-font: 'Comfortaa', cursive;
    --Roboto-font: 'Roboto', sans-serif;
    --background-color: #131316;
    --sec-background-color: #18181C;

    --dark-color: #131316;
    --light-dark-color: #18181C;
    --def-txt-color: #9F7228;
    --gray-txt: #6F6F6F;
    --light-gray-txt: #B0B0B0;

    --txt-light: #ececec;
    --txt-dark: #b5b5b5;
}

.abt-hero-sec {
    height: 100vh;
    width: 100%;
    background-image: url(../assets/Images/Hero-Back.jpg);
    background-size: cover;
    background-position: center;
}

.head-cnt{
    height: 25%;
    width: 100%;
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
}

.abt-txt-cont-cnt{
    height: 75%;
    width: 100%;
    /* border: 1px solid; */
    display: flex;
}

.abt-mn-txt{
    height: 100%;
    width: 50%;
    /* border: 1px solid; */
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 2vmax;
    padding: 5vmax 6vmax;
}

.txt-fir, .txt-sec{
    font-size: 1.1vmax;
    color: var(--light-gray-txt);
    font-family: var(--Poppins-font);
}

.tble-cnt{
    height: 100%;
    width: 50%;
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
}

table{
    /* background-color: green; */
    height: 25vmax;
    width: 30vmax;
}

th{
    /* background-color: red; */
    width: 13vmax;
    text-align: left;
    color: var(--def-txt-color);
}

td{
    color: var(--light-gray-txt);
}

th, td{
    font-family: var(--Poppins-font);
    font-size: 1vmax;
}

/* ------------ */

.abt-scnd-sec{
    height: 100vh;
    width: 100%;
    background-image: url(../assets/Images/about-sec-back.jpg);
    background-size: cover;
    background-position: center;
}

.abt-scnd-sec-head-cnt{
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.abt-cont-card-cnt{
    height: 75%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


/* ------------ */

.abt-thrd-sec{
    height: 100vh;
    width: 100%;
    background-image: url(../assets/Images/about-thir-back.jpg);
    background-size: cover;
    background-position: center;
}

/* ------------ */

@media (max-width: 750px) {

    .abt-hero-sec {
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .cont{
        height: 50%;
        width: 100%;
    }

    .abt-head {
        font-size: 7vmax;
        -webkit-text-stroke: 1px #fff;
    }

    /* ------------- */

    .abt-scnd-sec{
        flex-direction: column;
    }

    .ext-lft{
        border: 1px solid;
        height: 30%;
        width: 100%;
    }
    
    .mid{
        border: 1px solid;
        height: 40%;
        width: 100%;
    }
    
    .ext-rgt{
        border: 1px solid;
        height: 30%;
        width: 100%;
    }

}

@media (max-width: 550px) {
    .cont{
        padding-left: 0;
        align-items: left;
        justify-content: center;
        text-align: left;
    }

    th{
        font-size: 1.3vmax;
    }
    
    td{
        font-size: 1.3vmax;
    }
}

@media (max-width: 380px) {

    .abt-txt-cont-cnt{
        height: 40vmax;
        width: 40vmax;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .abt-head {
        font-size: 6vmax;
        -webkit-text-stroke: 1px #fff;
    }

    .abt-descrip {
        font-family: var(--Poppins-font);
        font-size: 1vmax;
        font-weight: 400;
        color: #cecece;
        margin-top: 2rem;
        width: 30vmax;
    }

    .abt-descrip-main {
        font-family: var(--Poppins-font);
        font-size: 1vmax;
        font-weight: 400;
        color: #cecece;
        margin-top: 2rem;
        width: 30vmax;
    }

}