:root{
    --Poppins-font: 'Poppins',sans-serif;
    --cursive-font: 'Comfortaa',cursivv;
    --Roboto-font: 'Roboto',sans-serif;
    --diff-color: #14b8a6;
    
    --dark-color: #131316;
    --light-dark-color: #18181C;
    --def-txt-color: #9F7228;
    --gray-txt: #6F6F6F;
    --light-gray-txt: #B0B0B0;

    --txt-light: #ececec;
    --txt-dark: #b5b5b5;

    --pointer-cur: url(../assets/Icons/cursor-pointer.png), auto;
    --pointer-txt: url(../assets/Icons/text.png), auto;
}

.first{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(#131316e0, #131316e0, #131316e0),url(../assets/Images/hero-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-section{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5vmax;
}

.content-cnt{
    height: 100%;
    padding: 0 2vmax;
    padding-top: 5vmax;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid; */
}

.greeting{
    font-size: 7vmax;
    color: transparent;
    font-family: var(--Poppins-font);
    font-weight: 700;
    -webkit-text-stroke: 1px var(--txt-light);
    line-height: 6vmax;
}

.greet-after{
    font-size: 3vmax;
    color: var(--txt-light);
    font-family: var(--Poppins-font);
    font-weight: 400;
    align-items: center;
    line-height: 4vmax;
}

.name{
    font-size: 3.5vmax;
    color: var(--txt-light);
    font-family: var(--Poppins-font);
    font-weight: 500;
    line-height: 4vmax;
}

.prof{
    font-size: 4vmax;
    color: var(--def-txt-color);
    font-family: var(--Poppins-font);
    font-weight: 600;
    line-height: 4.5vmax;
}

.hero-p{
    font-size: 1.1vmax;
    color: var(--txt-light);
    font-family: var(--Poppins-font);
    width: 45vmax;
    color: var(--txt-dark);
    line-height: 1.7vmax;
}

.vw-btn{
    height: 3vmax;
    width: 13vmax;
    border: 2px solid var(--def-txt-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3vmax;
    color: var(--def-txt-color);
    text-decoration: none;
    font-family: var(--Poppins-font);
    font-size: 1vmax;
    margin-top: 1vmax;
    transition: 0.2s;
    cursor: var(--pointer-cur);
    border-radius: .4vmax;
}

.vw-btn:hover{
    background-color: var(--def-txt-color);
    color: var(--txt-light);
}

/* ---- */

.fir-sec-section{
    height: 80vh;
    width: 100%;
    background-image: url(../assets/Images/Sec-Back.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fir-sec-section-wrapper{
    height: 90%;
    width: 95%;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1vmax 3vmax;
    /* justify-content: center; */
}

.fir-sec-txt-cnt{
    /* border: 1px solid; */
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.before-head{
    font-size: 2vmax;
    font-family: var(--Poppins-font);
    color: var(--light-gray-txt);
    font-weight: 400;
    line-height: 1.5vmax;
}

.main-head{
    font-size: 3vmax;
    color: var(--def-txt-color);
    font-family: var(--Poppins-font);
    font-weight: 500;
    line-height: 3.5vmax;
}

.fir-sec-p{
    font-family: var(--Poppins-font);
    color: var(--txt-dark);
    font-size: 1.2vmax;
    line-height: 2vmax;
}

.ser-card-holder{
    height: 70%;
    width: 100%;
    margin-top: 1vmax;
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* --------- */

.fir-thir-section{
    height: 80vh;
    width: 100%;
    background-image: url(../assets/Images/Thir-Back.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ----------- */

.fir-fourth-section{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(19, 19, 22, 0.9), rgba(19, 19, 22, 0.9), rgba(19, 19, 22, 0.9)),url(../assets/Images/gold.jpg);
    background-position: center;
    background-size: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fir-forth-section-wrapper{
    height: 90%;
    width: 95%;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1vmax 3vmax;
    /* justify-content: center; */
}

.last-cont-holder{
    height: 90%;
    width: 100%;
    margin-top: 1vmax;
    /* border: 1px solid; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1vmax;
}

.contct-p{
    font-size: 1vmax;
    color: var(--gray-txt);
    font-family: var(--Poppins-font);
    width: 42vmax;
}

.lnk-cnt{
    height: 65%;
    width: 25vmax;
    /* border: 1px solid; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 3vmax;
}

.scl-a {
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    gap: .5vmax;
    color: #131313;
    text-decoration: none;
    font-family: var(--Poppins-font);
    cursor: pointer;
}

.scl-lnk-img {
    width: 1.5vmax;
    cursor: pointer;
    filter: invert(44%) sepia(26%) saturate(1070%) hue-rotate(358deg) brightness(100%) contrast(92%);
}

.cntct-aftr-img{
    filter: invert(44%) sepia(26%) saturate(1070%) hue-rotate(358deg) brightness(100%) contrast(92%);
}

.scl-lbl {
    font-size: 1.1vmax;
    font-weight: 400;
    cursor: pointer;
    color: var(--light-gray-txt);
}

.scl-name {
    font-size: 1.1vmax;
    cursor: pointer;
    color: var(--def-txt-color);
}


@media (max-width: 780px){

    .hero-section{
        padding: 2vmax;
    }

    .content-cnt{
        padding-top: 0;
    }

    .greeting{
        font-size: 7vmax;
        -webkit-text-stroke: 1px #fff;
    }

    .greet-after{
        font-size: 4vmax;
    }

    .name{
        font-size: 4.7vmax;
    }
    
    .intro-tllr{
        font-size: 2.5vmax;
        color: #bfbfbf;
        font-family: var(--Poppins-font);
        font-weight: 400;
    }
    
    .prof{
        color: #fff;
        font-weight: 600;
    }

    .btn-cnt{
        height: 8vmin;
        width: 33vmax;
    }

    .btn{
        width: 14vmax;
        height: 4vmax;
    }
}

@media (max-width: 390px){

    .hero-section{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
    }

    .content-cnt{
        height: 100%;
        padding: 0 4vmin;
        display: flex;
        padding-top: 0;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }

    .greeting{
        font-size: 13vmin;
        -webkit-text-stroke: 1px #fff;
    }

    .greet-after{
        font-size: 6vmin;
    }

    .name{
        font-size: 8.5vmin;
    }
    
    .intro-tllr{
        font-size: 4.5vmin;
    }
    
    .prof{
        color: #fff;
        font-weight: 600;
    }

    .btn-cnt{
        height: 10vmax;
        width: 40vmin;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 3vmin;
    }

    .btn{
        width: 30vmin;
        height: 7vmin;
    }
}
