:root{
    --Poppins-font: 'Poppins',sans-serif;
    --cursive-font: 'Comfortaa',cursivv;
    --Roboto-font: 'Roboto',sans-serif;
    --diff-color: #14b8a6;
    --txt-light: #ececec;
    --txt-dark: #b5b5b5;
    --pointer-cur: url(../assets/Icons/cursor-pointer.png), auto;
    --pointer-txt: url(../assets/Icons/text.png), auto;
}

.first{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.3), rgba(0,0,0,0.7)),url(../assets/Images/hero-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-section{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5vmax;
}

.content-cnt{
    height: 100%;
    padding: 0 2vmax;
    display: flex;
    padding-top: 5vmax;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid; */
}

.greeting{
    font-size: 6.5vmax;
    color: transparent;
    font-family: var(--Poppins-font);
    font-weight: 700;
    -webkit-text-stroke: 1px var(--txt-light);
    line-height: 6vmax;
}

.greet-after{
    font-size: 2vmax;
    color: var(--txt-light);
    font-family: var(--Poppins-font);
    font-weight: 400;
    display: flex;
    align-items: center;
    line-height: 3vmax;
}

.name{
    font-size: 4vmax;
    color: var(--diff-color);
    font-family: var(--Poppins-font);
    font-weight: 500;
    line-height: 4vmax;
}

.intro-tllr{
    font-size: 2vmax;
    color: var(--txt-light);
    font-family: var(--Poppins-font);
    font-weight: 400;
}

.prof{
    color: var(--diff-color);
    font-weight: 600;
}

.hero-p{
    font-size: 1vmax;
    color: var(--txt-light);
    font-family: var(--Poppins-font);
    width: 45vmax;
    color: var(--txt-dark);
    line-height: 1.7vmax;
}

.vw-btn{
    height: 3vmax;
    width: 13vmax;
    border: 2px solid var(--diff-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3vmax;
    color: var(--txt-light);
    text-decoration: none;
    font-family: var(--Poppins-font);
    font-size: 1vmax;
    margin-top: 1vmax;
    transition: 0.2s;
    cursor: var(--pointer-cur);
}

.vw-btn:hover{
    background-color: var(--diff-color);
}

/* ---- */

.fir-sec-section{
    height: 80vh;
    width: 100%;
    background-color: #131313;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fir-sec-section-wrapper{
    height: 90%;
    width: 95%;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 3vmax 3vmax;
    /* justify-content: center; */
}

.before-head{
    font-size: 1.5vmax;
    font-family: var(--Poppins-font);
    color: var(--diff-color);
    font-weight: 400;
    line-height: 1.5vmax;
}

.main-head{
    font-size: 2.5vmax;
    color: var(--txt-light);
    font-family: var(--Poppins-font);
    font-weight: 400;
    line-height: 3vmax;
}

.fir-sec-p{
    font-family: var(--Poppins-font);
    color: var(--txt-dark);
    font-size: 1vmax;
    line-height: 2vmax;
}

.ser-card-holder{
    height: 70%;
    width: 100%;
    margin-top: 1vmax;
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* --------- */

.fir-thir-section{
    height: 80vh;
    width: 100%;
    background-color: #131313;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ----------- */

.fir-fourth-section{
    height: 100vh;
    width: 100%;
    background-color: #131313;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fir-forth-section-wrapper{
    height: 90%;
    width: 95%;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1vmax 3vmax;
    /* justify-content: center; */
}

.form-cont-holder{
    height: 110%;
    width: 100%;
    margin-top: 1vmax;
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form{
    height: 100%;
    width: 40%;
    background: linear-gradient(-45deg ,rgba(50, 50, 50, 0.1), rgba(225, 255, 225, 0.1));
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 5vmax;
    gap: .5vmax;
    border-radius: 5px;
}

.frm-head{
    font-family: var(--Poppins-font);
    color: var(--diff-color);
    font-size: 2.1vmax;
    font-weight: 400;
    line-height: 2vmax;
}

.label{
    font-size: 1vmax;
    color: var(--txt-light);
    font-family: var(--Poppins-font);
}

.frm-input{
    height: 3vmax;
    width: 25vmax;
    background-color: transparent;
    border: 2px solid var(--diff-color);
    padding: 0 .8vmax;
    font-family: var(--Poppins-font);
    outline: none;
    color: var(--txt-light);
    cursor: var(--pointer-txt);
}

.txtarea{
    height: 8vmax;
    width: 25vmax;
    background-color: transparent;
    padding: .8vmax .8vmax;
    border: 2px solid var(--diff-color);
    font-family: var(--Poppins-font);
    resize: none;
    outline: none;
    color: var(--txt-light);
}

.send-btn{
    height: 3vmax;
    width: 10vmax;
    border: 2px solid var(--diff-color);
    background-color: transparent;
    color: var(--txt-light);
    font-family: var(--Poppins-font);
    margin-top: .3vmax;
    cursor: var(--pointer-cur);
    transition: 0.2s;
}

.send-btn:hover{
    background-color: var(--diff-color);
}

.frm-after{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cntct-c{
    height: 40%;
    width: 95%;
    /* border: 1px solid; */
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}



.map{
    height: 60%;
    width: 95%;
    /* border: 1px solid; */
}
.map-comp{
    height: 100%;
    width: 100%;
}

iframe{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}


@media (max-width: 780px){

    .hero-section{
        padding: 2vmax;
    }

    .content-cnt{
        padding-top: 0;
    }

    .greeting{
        font-size: 7vmax;
        -webkit-text-stroke: 1px #fff;
    }

    .greet-after{
        font-size: 4vmax;
    }

    .name{
        font-size: 4.7vmax;
    }
    
    .intro-tllr{
        font-size: 2.5vmax;
        color: #bfbfbf;
        font-family: var(--Poppins-font);
        font-weight: 400;
    }
    
    .prof{
        color: #fff;
        font-weight: 600;
    }

    .btn-cnt{
        height: 8vmin;
        width: 33vmax;
    }

    .btn{
        width: 14vmax;
        height: 4vmax;
    }
}

@media (max-width: 390px){

    .hero-section{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
    }

    .content-cnt{
        height: 100%;
        padding: 0 4vmin;
        display: flex;
        padding-top: 0;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }

    .greeting{
        font-size: 13vmin;
        -webkit-text-stroke: 1px #fff;
    }

    .greet-after{
        font-size: 6vmin;
    }

    .name{
        font-size: 8.5vmin;
    }
    
    .intro-tllr{
        font-size: 4.5vmin;
    }
    
    .prof{
        color: #fff;
        font-weight: 600;
    }

    .btn-cnt{
        height: 10vmax;
        width: 40vmin;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 3vmin;
    }

    .btn{
        width: 30vmin;
        height: 7vmin;
    }
}
