:root{
    --def-txt-color: #9F7228;
    --background-c: #131316;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loader{
    display: block;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: var(--background-c);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1vmax;
    z-index: 1000;
    pointer-events: none;
    opacity: 1;
    transition: 0.3s;
}

.spinner{
    height: 3vmax;
    width: 3vmax;
    border: .3vmax solid var(--def-txt-color);
    border-top: .3vmax solid transparent;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
    pointer-events: none;
}

@keyframes rotate{
    0%{
        transform: rotateZ(0deg);
    }

    100%{
        transform: rotateZ(360deg);
    }
}
