:root{
    --Poppins-font: 'Poppins',sans-serif;
    --cursive-font: 'Comfortaa',cursivv;
    --Roboto-font: 'Roboto',sans-serif;
    --diff-color: #14b8a6;
    --txt-light: #ececec;
    --txt-dark: #b5b5b5;
    --pointer-cur: url(../assets/Icons/cursor-pointer.png), auto;
}

.card {
    height: 15vmax;
    width: 28vmax;
    background: linear-gradient(-45deg ,rgba(50, 50, 50, 0.1), rgba(225, 255, 225, 0.1));
    border-radius: 1vmax;
    transition: 0.2s;
    cursor: var(--pointer-cur);
}

.card:hover{
    background-color: rgba(124, 124, 124, 0.2);
}

.card:hover .project-link{
    color: var(--diff-color);
}

.img {
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 1.5vmax;
}

.project-ico-img{
    width: 2vmax;
    filter: invert(54%) sepia(54%) saturate(645%) hue-rotate(124deg) brightness(98%) contrast(88%);
    pointer-events: none;
    user-select: none;
}

.heading {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 1.5vmax;
}

.project-inner-heading{
    color: var(--diff-color);
    font-family: var(--Poppins-font);
    font-size: 1.5vmax;
    font-weight: 500;
}

.description {
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 1.5vmax;
}

.project-description{
    font-family: var(--Poppins-font);
    font-size: .95vmax;
    color: var(--txt-dark);
}

.link{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 1.5vmax;
}

.project-link{
    color: var(--txt-light);
    font-family: var(--Poppins-font);
    font-size: 1vmax;
    text-decoration: none;
    transition: 0.2s;
}

.project-link:hover{
    text-decoration: underline;
}